{{>navbar}}
<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/noding.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Advanced Exploration</h1>
                        <hr class="small">
                        <span class="subheading">A site meant to explore the intersection of networking and application development</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <h3>What is Node.js? SASS? Handlebars? MonogDB? How do they relate and what is the purpose? </h3>
        <p>  That and many other questions I set out to solve awhile back. I created this website to portray some of the outcomes from that desire to grow and challenge myself as a developer. I hope you enjoy.</p>
        <p style="text-align:center"><h6>Please click on projects if you would like to know the architecture of this site</h6></p>
    </div>
<hr>
{{>footer}}