{{>navbar}}
<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/bad-architecture.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>Architecture</h1>
                       
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					<b>OS:</b> Ubuntu Linux 15.10 <br/>
                	<b>Platform:</b> Node.js 4.4.2 LTS <br/>
                    <b>Main Node Modules:</b> Express, http-proxy<br/>
                    <b>Node applications:</b> overseer.js(Http-Proxy), app.js(This website)<br/>
                    <b>Templating Engine:</b> Handlebars <br/>
                </div>
            </div>
        </div>
    </article>

    <hr>
{{>footer}}